<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="">
               logo
            </div>
            <div class="">
                <nav class="menu">
                    <ul>
                      <li><a href="#">Startseite</a></li>
                      <li><a href="#">Über</a></li>
                      <li><a href="#">Kontakt</a></li>
                    </ul>
                  </nav>
            </div>
        </header>

        <main>
            <section>
                <form id="form" class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="Client.handleSubmit(event)" placeholder="Enter Zipcode here(US)">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <p id="log"></p>
            <section>

            <section>
                <strong>Form Results:</strong>
                <br>
                <div id="results">
                    <div id="city"></div>
                    <div id="date"></div>
                    <div id="temp"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
